/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
    .login-form {
        width: 60%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .login100-more {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }
    .login100-more {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .login-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 150px;
    }
    .rs1-user-input,
    .rs2-user-input {
        width: 100%;
    }
    .rs2-user-input {
        border-left: 1px solid #e6e6e6;
    }
    #my_camera {
        margin-left: 60px;
    }
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}